.variant {
    display: flex;
    width: 320px;
    /* border: 1px solid #000; */
    margin: auto;
    padding: 0.6rem;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #0496d5;
    border: 1px solid #0496d5;
    cursor: pointer;
}

.variant:hover{
    background-color: #f9a826;
    color: #fff;
    border: none;
}

.space {
    margin-right: 2rem; 
    font-weight: bold;
}